@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=Jost:wght@700&family=Poppins:wght@700&family=Montserrat:wght@400;700&display=swap");
$color-primary: #2feaa8;

// NAVBAR
.navbar {
  max-width: 1536px;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  margin: auto;

  @media (min-width: 768px) {
    padding: 2rem 3rem;
  }

  .ismile-logo {
    height: 48px;
    width: auto;

    @media (min-width: 768px) {
      height: 52px;
    }
  }

  .navbar-content {
    display: flex;
    gap: 1rem;

    .button {
      padding: 0.75rem 1.25rem;
      font-size: 0.875rem; /* 14px */
      line-height: 1.25rem; /* 20px */
      font-weight: semibold;
      align-self: center;
      border-radius: 0.5rem;
      cursor: pointer;

      @media (min-width: 768px) {
        font-size: 1rem; /* 16px */
        line-height: 1.5rem; /* 24px */
      }
    }
    .about-us {
      background-color: transparent;
      color: #515151;
      text-decoration: none;

      &:hover {
        background-color: #51515110;
      }
    }
    .login {
      text-align: center;
      background-color: $color-primary;
      font-weight: 500;
      color: white;
      text-decoration: none;

      &:hover {
        background-color: #2bd69a;
      }
    }

    @media (min-width: 768px) {
      gap: 2rem;
    }
  }
}

// MAIN
.main {
  max-width: 1536px;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 80dvh;
  margin: auto;

  @media (min-width: 768px) {
    justify-content: space-between;
    flex-direction: row;
  }

  .content {
    h1 {
      font-family: "Jost", sans-serif;
      font-size: 3.75rem; /* 60px */
      line-height: 1;
      font-weight: 700;
      text-align: center;

      background: -webkit-linear-gradient(#2feaa8, #028cf3);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media (min-width: 768px) {
        text-align: start;
      }
    }
    p {
      font-family: "Montserrat", sans-serif;
      font-size: 1rem; /* 16px */
      line-height: 1.5rem; /* 24px */
      text-align: center;
      color: #515151;

      @media (min-width: 768px) {
        text-align: start;
      }
    }
    .button-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      width: 50%;
      margin: auto;
      @media (min-width: 768px) {
        margin: 0;
        max-width: 200px;
      }

      .button-login {
        justify-self: center;
        align-content: center;
        height: 32px;
        width: 100%;
        padding: 0 1rem;
        font-size: 0.875rem; /* 14px */
        line-height: 1.25rem; /* 20px */
        border-radius: 0.5rem;
        text-align: center;
        background-color: $color-primary;
        font-weight: 500;
        color: white;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          background-color: #2bd69a;
        }

        @media (min-width: 768px) {
          font-size: 1rem; /* 16px */
          line-height: 1.5rem; /* 24px */
        }
      }
      .icon {
        border: solid $color-primary 2px;
        height: 32px;
        min-width: 32px;
        border-radius: 0.5rem;
        cursor: pointer;
      }
    }
  }
  .hero-image {
    display: none;
    @media (min-width: 768px) {
      display: block;
      width: 40%;
      max-width: 250px;
      height: auto;
    }
  }
  .background-gradient {
    position: absolute;
    top: -100px;
    right: -250px;
    z-index: -1;
    height: auto;
    width: 120%;
    @media (min-width: 500px) {
      top: -300px;
      right: -500px;
      width: 100%;
      max-width: 1000px;
    }
  }
  .background-gradient-mini {
    position: absolute;
    bottom: -100px;
    left: -300px;
    z-index: -1;
    height: auto;
    width: 120%;
    @media (min-width: 550px) {
      max-width: 350px;
      bottom: -150px;
      left: -250px;
    }
  }
}

// LATEST ARTICLES
.latest-articles {
  max-width: 1536px;
  padding: 10rem 2rem 4rem 2rem;
  margin: auto;
  text-align: center;

  h1 {
    font-family: "Jost", sans-serif;
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
    font-weight: 700;
    text-align: start;
    width: fit-content;

    background: -webkit-linear-gradient(#2feaa8, #028cf3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (min-width: 768px) {
    }
  }
  p {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
    text-align: start;
    color: #515151;
    width: fit-content;

    @media (min-width: 768px) {
    }
  }

  .tabs {
    display: flex;
    background-color: #f0f0f0;
    padding: 0.5rem 0.5rem;
    border-radius: 9999px;
    margin-bottom: 2rem;
    justify-content: center;

    @media (min-width: 768px) {
      gap: 1rem;
      width: fit-content;
    }
    .tab {
      text-wrap: nowrap;
      border: none;
      font-size: 1rem;
      padding: 0.25rem 1rem;
      cursor: pointer;
      color: #6d7174;
      transition: color 0.3s;
      border-radius: 9999px;

      &.active {
        background: -webkit-linear-gradient(#2feaa8, #028cf3);
        color: white;
      }

      &:hover {
        background-color: rgb(229 231 235);
      }
    }
  }

  .articles-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;

    @media (min-width: 640px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1rem;
    }
    @media (min-width: 768px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .article-card {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border: #00000010 solid 1px;
      border-radius: 1rem;
      width: 100%;

      .article-image {
        overflow: hidden;
        background-color: #222;
        border-radius: 0.75rem;
        margin: 1rem;

        img {
          width: 100%;
          max-height: 200px;
          object-fit: cover;
        }
      }

      .article-content {
        padding: 0 1rem 1rem 1rem;
        text-align: left;

        .article-tag {
          display: inline-block;
          padding: 0.25rem 1rem;
          border-radius: 999px;
          font-size: 0.75rem; /* 12px */
          line-height: 1rem; /* 16px */

          &.News {
            background-color: #aaebff;
            color: #1578b0;
          }

          &.Announcements {
            background-color: #ffd5d5;
            color: #ff3434;
          }

          &.Tutorials {
            background-color: #d7ffc4;
            color: #24bf34;
          }
        }

        .article-title {
          font-size: 1.25rem; /* 20px */
          line-height: 1.75rem; /* 28px */
          color: black;
          font-family: "Poppins", sans-serif;
          font-weight: bold;
          line-clamp: 2;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          margin: 0.5rem 0;
        }

        .article-summary {
          font-size: 0.875rem; /* 14px */
          line-height: 1.25rem; /* 20px */
          font-family: "Montserrat", sans-serif;
          color: #515151;
          line-clamp: 3;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        .article-footer {
          border-top: #00000010 solid 1px;
          padding-top: 1rem;
          width: 100%;
          display: flex;
          justify-content: space-between;
          gap: 1rem;
          align-items: center;
          .author {
            display: flex;
            gap: 0.5rem;
            img {
              width: 42px; // Set the image size
              height: 42px; // Set the image size
              border-radius: 50%; // Make the image circular
            }
            .author-info {
              display: flex;
              flex-direction: column;
              justify-content: center;
              .author-name {
                font-size: 0.875rem; /* 14px */
                line-height: 1.25rem; /* 20px */
                color: #595959;
                font-weight: bold;
                margin: 0;
                line-clamp: 1;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
              }
              .author-date {
                font-size: 0.875rem; /* 14px */
                line-height: 1.25rem; /* 20px */
                margin: 0;
                color: #808080;
                line-clamp: 1;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
              }
            }
          }
          .read-more {
            color: #808080;
            border: #00000020 solid 1px;
            padding: 0.5rem;
            border-radius: 0.5rem;
            text-decoration: none;
            font-size: 0.75rem; /* 12px */
            line-height: 1rem; /* 16px */
            text-align: center;
          }
        }
      }
    }
  }
}

// ABOUT US
.about {
  max-width: 1536px;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 4rem;
    padding-bottom: 8rem;
  }

  img {
    width: 100%;
    max-width: 300px;
    align-self: center;
  }
  .info-content {
    position: relative;
    padding-bottom: 8rem;
    h1 {
      font-family: "Jost", sans-serif;
      font-size: 2.25rem; /* 36px */
      line-height: 2.5rem; /* 40px */
      font-weight: 700;
      text-align: center;

      background: -webkit-linear-gradient(#2feaa8, #028cf3);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media (min-width: 768px) {
        text-align: start;
      }
    }
    p {
      font-size: 1rem; /* 16px */
      line-height: 1.5rem; /* 24px */
      text-align: start;
      color: #515151;
      width: fit-content;
    }
    .eyes {
      position: absolute;
      max-width: 100px;
      right: 0px;
      bottom: 0px;
      @media (min-width: 768px) {
        max-width: 200px;
      }
    }
  }
}

// FOOTER
.footer-landing {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #2feaa8, #028cf3);
  height: 300px;

  @media (max-width: 640px) {
    padding: 0 2rem !important;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #ffffff;
    width: 600px;
    height: fit-content;
    h3 {
      color: white;
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 700;
    }
  }
}

.article-section {
  display: flex;
  flex-direction: column;
  // align-items: center;  // Center align the content vertically
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  .article-content {
    font-family: "Montserrat", sans-serif;
    font-size: 18px; // Slightly larger for ease of reading
    line-height: 1.8; // Generous line height for clear separation of lines
    color: #333; // Soft black for reduced glare and increased readability
    text-align: justify; // Ensures edges are aligned for block paragraphs
    margin-top: 20px;
    word-spacing: 0.2em; // Increase space between words
    padding-bottom: 20px;

    p {
      margin-bottom: 1.5em; // Spacing between paragraphs
    }

    h2,
    h3,
    h4 {
      color: #222; // Slightly darker for heading emphasis
      margin-top: 2em; // Space before each heading
      margin-bottom: 1em; // Space after each heading
    }

    ul,
    ol {
      margin-left: 20px; // Indent lists for clarity
      margin-top: 1em;
      margin-bottom: 1em;
      li {
        margin-bottom: 0.5em; // Space between list items
      }
    }

    blockquote {
      font-style: italic;
      margin-left: 20px;
      margin-right: 20px;
      padding: 10px 20px;
      background-color: #f9f9f9; // Light background for emphasis
      border-left: 5px solid #ccc; // Vertical line for traditional blockquote look
      margin-top: 1.5em;
      margin-bottom: 1.5em;
    }

    a {
      color: #0066cc; // Links are clearly visible
      text-decoration: none; // No underline by default
      &:hover {
        text-decoration: underline; // Underline on hover for interactivity
      }
    }
  }
  .article-title {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
  }

  .divider {
    height: 2px;
    width: 100%;
    background-color: #ccc;
    margin: 10px 0;
  }

  .author-info {
    display: flex;
    align-items: center;
    justify-content: space-between; // Ensures space distribution between elements
    width: 100%; // Full width to spread out content

    .author-details {
      display: flex;
      align-items: center;

      .author-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
      }

      div {
        display: flex;
        flex-direction: column;

        .author-name {
          color: #333;
          font-weight: bold;
        }

        .author-date {
          color: #aaa;
          font-size: 0.75rem;
        }
      }
    }

    .read-time {
      color: #666;
      font-size: 0.75rem;
      white-space: nowrap; // Prevents breaking into a new line
    }
  }

  .article-main-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .article-summary {
    font-family: "DM Mono", monospace;
    font-size: 16px;
    line-height: 24px;
    color: #333;

    margin-top: 10px;
  }
}
